<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
	<connectionStrings>
  <add name="SqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Academia\RechACar\LocadoraVeiculos.WindowsForms\Features\LoginModule\DBLogin.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="LocadoraVeiculos.WindowsForms.Properties.Settings.LocadoraDBConnectionString"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=LocadoraDB;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

  <appSettings>

    <add key="bancoDeDados"  value="SqlServer"/>

  </appSettings>
	
    <system.data>

    <DbProviderFactories>

      <remove invariant="System.Data.SQLite" />

      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />

    </DbProviderFactories>

  </system.data>
    
</configuration>